$grayColor: #f1f1f1;
$tableBorder: #c5c7d0;

.react-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  tr th {
    font-family: Graphik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }
  tr td {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
  }
  tr th,
  tr td {
    border-bottom: 1px solid $tableBorder;
    padding: 10px 12px;
    color: #414141;
  }
  tr th:first-child,
  tr td:first-child {
    border-left: 1px solid $tableBorder;
  }
  tr th:last-child,
  tr td:last-child {
    border-right: 1px solid $tableBorder;
  }

  tr th {
    background: $grayColor;
    border-top: 1px solid $tableBorder;
    text-align: left;
  }

  /* top-left border-radius */
  tr:first-child th:first-child {
    border-top-left-radius: 4px;
  }

  /* top-right border-radius */
  tr:first-child th:last-child {
    border-top-right-radius: 4px;
  }

  /* bottom-left border-radius */
  tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
  }

  /* bottom-right border-radius */
  tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
  }
  .active {
    background: #e6dcff;
  }
}
.span-divider {
  border-left: 1px solid $tableBorder;
  border-right: 1px solid $tableBorder;
  background-color: white;
}
.pagination {
  padding: 1.5rem;
}

table {
  border-spacing: 0;
  border: 1px solid black;

  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    :last-child {
      border-right: 0;
    }
  }
}

.pagination {
  padding: 0.5rem;
}
